[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry_data_analysis = {editable = true, path = "."}
fumes = {editable = true, path = "../fumes"}
pytest = "*"
pylint = "*"
pydocstyle = "*"
pep8 = "*"
jupyter = "*"
ipykernel = "*"
plotly = "*"
ipympl = "*"
utm = "*"
gsw = "*"
pyyaml = "*"
kaleido = "*"
gpytorch = "*"

[dev-packages]

[requires]
python_version = "3.7"
